
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.home--yzd {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #fcfcfc;
  border-radius: 3.3rem;

  .rectangle-18-9Gq {
    top: 63.8rem;
    background-color: #d9d9d9;
    width: 92.3rem;
    height: 31.1rem;
    position: absolute;
    left: 52.9rem;
  }
  .oath-2-1-dSu {
    position: absolute;
    left: 99.7rem;
    top: 65.1rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 2.2rem;
    width: 41.9rem;
    height: 27.3rem;
  }
  .a64fed06f6719692a2d14-1-wCh {
    top: 13.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.9rem;
    height: 3.7rem;
    position: absolute;
    left: 135.4rem;
  }
  .rectangle-5-Sv9 {
    width: 147.8rem;
    height: 12.5rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #003e11;
  }
  .staff-9pZ {
    position: absolute;
    top: 5.5rem;
    font-size: 1.6rem;
    color: #ffffff;
    font-family: Libre Caslon Text, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.7rem;
    height: 2rem;
    left: 85.4rem;
    font-weight: 500;
    line-height: 1.23;
  }
  .about-oeD {
    width: 6.4rem;
    height: 2rem;
    left: 103.2rem;
    font-weight: 500;
    color: #ffffff;
    font-family: Libre Caslon Text, 'Source Sans Pro';
    position: absolute;
    top: 5.3rem;
    font-size: 1.6rem;
    line-height: 1.23;
    white-space: nowrap;
  }
  .home-K6m {
    top: 5.5rem;
    font-weight: 500;
    color: #ffffff;
    white-space: nowrap;
    width: 5.8rem;
    left: 94.4rem;
    font-size: 1.6rem;
    line-height: 1.23;
    font-family: Libre Caslon Text, 'Source Sans Pro';
    height: 2rem;
    position: absolute;
  }
  .ellipse-1-stroke-pJR {
    vertical-align: top;
    width: 5.2rem;
    height: 5.3rem;
    position: absolute;
    left: 110.7rem;
    top: 3.4rem;
    object-fit: contain;
  }
  .college-of-computing-information-and-sciences-8a1 {
    position: absolute;
    top: 2.9rem;
    font-size: 2.4rem;
    line-height: 1.23;
    color: #d9d9d9;
    font-family: Libre Caslon Text, 'Source Sans Pro';
    height: 6rem;
    left: 26.6rem;
    font-weight: 500;
    width: 41rem;
  }
  .ccis-logo-official-1-1-1-byP {
    object-fit: cover;
    vertical-align: top;
    border-radius: 6rem;
    width: 11.2rem;
    height: 11.2rem;
    position: absolute;
    left: 9.8rem;
    top: 0.6rem;
  }
  .line-2-6fF {
    position: absolute;
    left: 92.6rem;
    top: 4.2rem;
    background-color: #ffffff;
    width: 0.1rem;
    height: 4.5rem;
  }
  .line-3-DUy {
    position: absolute;
    left: 101.8rem;
    top: 4.3rem;
    background-color: #ffffff;
    width: 0.1rem;
    height: 4.3rem;
  }
  .search-icon-png-21-1-vuB {
    height: 3.4rem;
    position: absolute;
    left: 111.6rem;
    top: 4.3rem;
    object-fit: cover;
    vertical-align: top;
    width: 3.4rem;
  }
  .polygon-1-rXw {
    vertical-align: top;
    width: 10rem;
    height: 7.3rem;
    position: absolute;
    left: 128.8rem;
    top: 3.6rem;
    object-fit: contain;
  }
  .polygon-2-ngV {
    width: 10rem;
    height: 7.3rem;
    position: absolute;
    left: 128.8rem;
    top: 3.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-6-iq3 {
    width: 7.1rem;
    height: 5.5rem;
    position: absolute;
    left: 133.8rem;
    top: 3.6rem;
    background-color: #d9d9d9;
  }
  .rectangle-10-Fpy {
    top: 3.6rem;
    background-color: #d9d9d9;
    width: 7.1rem;
    height: 5.5rem;
    position: absolute;
    left: 133.8rem;
  }
  .links-bdw {
    height: 2rem;
    position: absolute;
    font-weight: 500;
    font-family: Libre Caslon Text, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.6rem;
    left: 134.6rem;
    top: 5.6rem;
    font-size: 1.6rem;
    line-height: 1.23;
    color: #000000;
  }
  .rectangle-8-td3 {
    position: absolute;
    left: 140.9rem;
    top: 3.6rem;
    background-color: #f29101;
    width: 3.1rem;
    height: 5.5rem;
  }
  .arrow-1-pWh {
    object-fit: contain;
    vertical-align: top;
    width: 122.1rem;
    height: 47.2rem;
    position: absolute;
    left: 21rem;
    top: 6.4rem;
  }
  .faculty-2-1-xN1 {
    position: absolute;
    left: 0;
    top: 18.4rem;
    object-fit: cover;
    vertical-align: top;
    width: 144rem;
    height: 45.3rem;
  }
  .rectangle-9-H9P {
    top: 18.4rem;
    background-color: #d9d9d9;
    width: 46.5rem;
    height: 45.9rem;
    position: absolute;
    left: 0;
  }
  .component-1-DYq {
    width: 23.6rem;
    height: 7.3rem;
    position: absolute;
    left: 9.2rem;
    top: 21.2rem;

    .polygon-3-upy {
      vertical-align: top;
      width: 4.9rem;
      height: 7.3rem;
      position: absolute;
      left: 11.4rem;
      top: 0;
      object-fit: contain;
    }
    .polygon-4-qid {
      left: -2.9rem;
      top: -1.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 5.8rem;
      height: 7.1rem;
      position: absolute;
    }
    .rectangle-11-kqb {
      left: 0rem;
      top: 0;
      background-color: #f29101;
      width: 13.8479rem;
      height: 5.5rem;
      position: absolute;
    }
    .event-W45 {
      top: 1.2rem;
      width: 9.4rem;
      position: absolute;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.23;
      color: #000000;
      font-family: Libre Caslon Text, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      left: 2.1rem;
    }
  }
  .ccis-general-assembly-QQM {
    position: absolute;
    left: 9.2rem;
    font-size: 4rem;
    font-weight: 700;
    width: 34.7rem;
    height: 9.9rem;
    color: #000000;
    font-family: Libre Caslon Text, 'Source Sans Pro';
    top: 28.5rem;
    line-height: 1.23;
  }
  .rectangle-12-uc1 {
    position: absolute;
    left: 9.2rem;
    top: 39.4rem;
    background-color: #f29101;
    width: 31.7rem;
    height: 1.1rem;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-Cb7 {
    font-weight: 700;
    line-height: 1.23;
    width: 33.5rem;
    left: 10.2rem;
    top: 42.6rem;
    color: #000000;
    font-family: Libre Caslon Text, 'Source Sans Pro';
    height: 6rem;
    position: absolute;
    font-size: 1.6rem;
  }
  .rectangle-13-rQm {
    background-color: #d9d9d9;
    width: 11.6rem;
    height: 5.5rem;
    position: absolute;
    left: 13.2rem;
    top: 51.2rem;
  }
  .rectangle-14-BC9 {
    top: 51.1rem;
    background-color: #f29101;
    width: 3.1rem;
    height: 5.5rem;
    position: absolute;
    left: 24.8rem;
  }
  .learn-more-hwB {
    left: 13.8rem;
    top: 53rem;
    font-size: 1.4rem;
    font-weight: 700;
    white-space: nowrap;
    width: 10.6rem;
    height: 1.8rem;
    position: absolute;
    line-height: 1.23;
    color: #000000;
    font-family: Libre Caslon Text, 'Source Sans Pro';
  }
  .apply-newsevents-campus-website-tour-RMP {
    top: 15.6rem;
    font-size: 1.6rem;
    line-height: 1.23;
    color: #003e11;
    white-space: nowrap;
    width: 46.4rem;
    position: absolute;
    left: 8.1rem;
    height: 2rem;
    font-weight: 700;
    font-family: Libre Caslon Text, 'Source Sans Pro';
  }
  .polygon-5-unM {
    left: 13.8rem;
    top: 16.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.2rem;
    height: 0.8rem;
    position: absolute;
  }
  .polygon-6-eV3 {
    position: absolute;
    left: 29.4rem;
    top: 16.3rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.2rem;
    height: 0.8rem;
  }
  .polygon-7-nLM {
    object-fit: contain;
    vertical-align: top;
    width: 1.2rem;
    height: 0.8rem;
    position: absolute;
    left: 38.8rem;
    top: 16.1rem;
  }
  .polygon-8-ufs {
    position: absolute;
    left: 54.2rem;
    top: 16.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.2rem;
    height: 0.8rem;
  }
  .arrow-2-eNZ {
    width: 1.2rem;
    height: 0;
    position: absolute;
    left: 141.9rem;
    top: 6.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-1-an1 {
    height: 18.3rem;
    position: absolute;
    left: 1.2rem;
    top: 59.6rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 48.6rem;
  }
  .com-soc-logo-1-hrd {
    top: 62.9rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 11.7rem;
    width: 8.6rem;
    height: 8.9rem;
    position: absolute;
    left: 5.1rem;
  }
  .rectangle-15-Dpy {
    width: 145.2rem;
    height: 10.5rem;
    position: absolute;
    left: 0;
    top: 94.6rem;
    box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25)), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #f29101;
  }
  .computer-society-TzD {
    height: 3rem;
    left: 15.5rem;
    color: #000000;
    white-space: nowrap;
    font-family: Libre Caslon Text, 'Source Sans Pro';
    width: 28.4rem;
    position: absolute;
    top: 63.3rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.23;
  }
  .line-4-mk1 {
    width: 30rem;
    height: 0;
    position: absolute;
    left: 16.8rem;
    top: 66.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-17-ubK {
    height: 21.1rem;
    position: absolute;
    left: 33.4rem;
    top: 67.4rem;
    object-fit: contain;
    vertical-align: top;
    border-radius: 2.4rem;
    width: 24.5rem;
  }
  .fun-1-1-SLM {
    top: 65.5rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 1.7rem;
    width: 42rem;
    height: 27.3rem;
    position: absolute;
    left: 55.4rem;
  }
  .ellipse-2-ZQy {
    width: 11.8rem;
    height: 11.1rem;
    position: absolute;
    left: 3.5354rem;
    top: 62.1rem;
    object-fit: contain;
    vertical-align: top;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-ti9 {
    color: #000000;
    height: 7.9rem;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: Libre Caslon Text, 'Source Sans Pro';
    width: 30.6rem;
    left: 17.1rem;
    top: 67.4rem;
    line-height: 1.23;
  }
  .rectangle-19-kVT {
    position: absolute;
    left: 6.7rem;
    top: 79.2rem;
    border: solid 0.1rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 37.3rem;
    height: 11.3rem;
  }
  .featured-photos-from-the-event-UAZ {
    color: #000000;
    font-family: Libre Caslon Text, 'Source Sans Pro';
    height: 6rem;
    line-height: 1.23;
    left: 11.4rem;
    top: 81.8rem;
    font-size: 2.4rem;
    font-weight: 700;
    width: 26.8rem;
    position: absolute;
  }
  .arrow-3-MVF {
    object-fit: contain;
    vertical-align: top;
    width: 1.35rem;
    height: 0.06rem;
    position: absolute;
    left: 40.6rem;
    top: 84.9rem;
  }
  .arrow-4-48m {
    position: absolute;
    left: 25.6rem;
    top: 54rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.35rem;
    height: 0.06rem;
  }
  .logo-facebookpng-32204-1-mJ5 {
    position: absolute;
    left: 130.6rem;
    top: 97.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 3.2rem;
    height: 2.8rem;
  }
  .logo-instagram-2444-1-gR3 {
    left: 134.5rem;
    top: 97rem;
    object-fit: cover;
    vertical-align: top;
    width: 3.3rem;
    height: 3.1rem;
    position: absolute;
  }
}
